/* Adjust other styles for smaller screens as needed */
body {
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(58,52,52,1) 43%, rgba(128,129,129,1) 100%);
  color: #fff;
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color .3s ease,color .3s ease
}



/*Media Queries Section*/

@media screen and (max-width: 768px) {
  .audio-list {
      grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
      gap: 10px
  }
}

@media screen and (max-width: 480px) {
  .audio-list {
      grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
      gap: 5px
  }
}

@media only screen and (max-width: 768px) {
  .logo-container img {
    width: 400px;
}
  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }

  .sidebar h3 {
    font-size: 24px; /* Adjust font size as needed */
  }

  .sidebar ul {
    padding-left: 10px;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to next row if needed */
    justify-content: space-between; /* Add space between items */
  }

  .sidebar li {
    margin-right: 10px; /* Add spacing between items */
  }

  .sidebar li a {
    font-size: 16px; /* Adjust font size as needed */
  }

  .sidebar img {
    margin-left: auto; /* Move the image to the right */
  }
}


@media only screen and (max-width: 400px) {
  .sidebar {
      width:100%;
      padding: 20px 10px;
      position: fixed;
      top: -100%;
      left: 0;
      background-color: #f1f1f1;
      z-index: 1000;
      overflow-y: auto;
      max-height: 100vh;
      transition: transform .3s ease,background-color .3s ease;
     
  }
  #songList {
    margin-top: 10px
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 15px
}

.sidebar ul {
    padding-left: 0
}

.sidebar li {
    margin-bottom: 12px
}

.sidebar li a {
    font-size: 16px
}
}

@media only screen and (max-width: 768px) {
  .sidebar-right {
      width:70%;
      right: -80%
  }
}

@media screen and (max-width: 480px) {
  .audio-info {
      flex-grow:1
  }

  #rightsec {
      display: none
  }

  #audioControlButton {
      display: inline-block
  }

  .audio-controls {
      margin-right: 10px
  }

  #currentTime,#duration {
      display: none
  }
}



@media only screen and (max-width: 768px) {
  .songListContainer {
    width: calc(100% - 60px); /* Adjust width for smaller screens */
    margin-left: 0; /* Remove left margin */
    padding: 10px; /* Adjust padding */
  }
}

@media only screen and (max-width: 480px) {
  .songListContainer {
    width: calc(100% - 40px); /* Further reduce width for even smaller screens */
    padding: 5px; /* Adjust padding */
  }

  .pagination-button-container {
    display: none; /* Hide pagination buttons on smaller screens */
  }
}


@media screen and (max-width: 768px) {
  .audio-list {
      grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
      gap: 10px
  }
}

@media screen and (max-width: 480px) {
  .audio-list {
      grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
      gap: 5px
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
      width:200px
  }

  .sidebar h3 {
      font-size: 18px
  }

  .sidebar ul {
      padding-left: 10px
  }

  .sidebar li {
      margin-bottom: 8px
  }

  .sidebar li a {
      font-size: 14px
  }
}

@media only screen and (max-width: 480px) {
  .sidebar {
      width:200px;
      padding: 20px 10px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #040404;
      z-index: 1000;
      overflow-y: auto;
      max-height: 100vh;
      transition: transform .3s ease,background-color .3s ease;
      display: block;
  }


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}


@media only screen and (max-width: 768px) {
  .song-container {
      width:45%
  }
}

@media only screen and (max-width: 480px) {
  .song-container {
      width:45%
  }
}

@media screen and (max-width: 480px) {
  .audio-info {
      flex-grow:1
  }

  #rightsec {
      display: none
  }

  #audioControlButton {
      display: inline-block
  }

  .audio-controls {
      margin-right: 10px
  }

  #currentTime,#duration {
      display: none
  }
}

@media only screen and (max-width: 768px) {
  .songListContainer {
    width: calc(100% - 60px); /* Adjust width for smaller screens */
    margin-left: 0; /* Remove left margin */
    padding: 10px; /* Adjust padding */
    height: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .songListContainer {
    width: calc(100% - 60px); /* Adjust width for smaller screens */
    margin-left: 0; /* Remove left margin */
    padding: 10px; /* Adjust padding */
    height: auto;
  }
  
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.sidebar li {
  margin-bottom: 10px
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: color .3s ease
}

.sidebar li a:hover {
  color: #1db954
}




.content {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 100px;
  flex: 1
}

.audio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center
}


.song-container:hover {
  background-color: #282828;
  transform: translateY(-10px)
}

.album-cover {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.song-title {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
  color: #fff
}


#songInfo {
  padding-left: 10px
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 auto
}

.audio-info {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px
}

.control-button i {
  font-size: 20px
}

.audio-info span {
  color: #fff
}

.audio-controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  transition: color .3s ease
}

.audio-controls button:hover {
  color: #1db954
}

.audio-progress {
  flex-grow: 1;
  margin: 0 20px;
  min-width: 100px
}

.audio-progress input[type=range] {
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #333
}

.audio-progress input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer
}

.audio-progress input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer
}

.search-input {
  transition: width .3s ease;
  width: 100%;
  max-width: 200px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 14px;
  outline: 0;
  margin-top: 10px;
}

.search-input::placeholder {
  color: #aaa
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px
}

.volume-icon {
  margin-left: 10px
}



.volume-control input[type=range] {
  width: 100px;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  background: #333;
  border-radius: 5px;
  outline: 0
}

.volume-control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer
}

.volume-control input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer
}


.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px
}

.pagination-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform .3s ease;
  color: #fff
}

.pagination-button:focus {
  outline: 0
}

.pagination-button:hover {
  transform: scale(1.1)
}


.queue-item {
  background-color: rgba(40,40,40,.7);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color .3s
}

.queue-item:hover {
  background-color: rgba(40,40,40,.9)
}

.queue-item .song-info {
  width: 150px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color .3s ease
}

.remove-btn:hover {
  color: #000
}

.remove-btn:focus {
  outline: 0
}

.remove-btn .icon {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px
}


.album-filter {
  margin-bottom: 20px
}

#albumCover {
  width: 50px;
  height: auto;
  margin-right: 10px
}



.album-button.active {
  background-color: #15883e;
  color: #fff
}

.album-button:hover {
  background-color: #1db954
}


.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer
}

.close:hover {
  color: #1db954
}

.sidebar-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff
}


#queueContainer.active {
  display: block; /* Show when active */
}



.sidebar-toggle {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #282828;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  transition: background-color .3s ease
}

.sidebar-toggle:hover {
  background-color: #1db954
}

.sidebar-toggle:focus {
  outline: 0
}


.volume-bar-container {
  display: none
}

.volume-bar-container.active {
  display: block
}

.vertical-volume-bar {
  width: 10px;
  height: 100px;
  writing-mode: bt-lr
}

.volume-icon {
  cursor: pointer
}

.logo-container {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px
}

.logo-container img {
  max-width: 100%;
  max-height: 100px;
  display: inline-block
}


.queue-button {
  /* Queue button styles */
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: color .3s ease;
  margin-left: auto; /* Align to the right */
}

.queue-button:hover {
  color: #1db954;
}

.queue-button i {
  /* Icon styles */
  margin-right: 5px; /* Adjust spacing between icon and text */
}




.container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  transition: margin-left .3s ease,padding-left .3s ease,padding-right .3s ease
}

.audio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px
}



.sidebar {
  width: 250px;
  background-color:#202020;
  padding: 20px;
  transition: width .3s ease,padding .3s ease
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.sidebar li {
  margin-bottom: 10px
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: color .3s ease
}

.sidebar li a:hover {
  color: #1db954
}


  #songList {
      margin-top: 10px
  }

  .sidebar h3 {
      font-size: 20px;
      margin-bottom: 15px
  }

  .sidebar ul {
      padding-left: 0
  }

  .sidebar li {
      margin-bottom: 12px
  }

  .sidebar li a {
      font-size: 16px
  }
}

.content {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 100px;
  flex: 1
}

.audio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center
}

.song-container {
  background-color: #282828;
  border-radius: 8px;
  overflow: hidden;
  width: calc((900px - 40px) / 3); /* Adjusted width calculation */
  max-width: calc(200px - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.song-container:hover {
  background-color: #282828;
  transform: translateY(-5px)
}

.album-cover {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.song-title {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
  color: #fff
}


.audio-player {
  background-color:rgb(26, 25, 25);
  width: 100%;
  display: flex;
  padding: 20px 10px;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  transition: background-color .3s ease;
  padding-bottom: 20px
}

#songInfo {
  padding-left: 10px
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 auto
}

.audio-info {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px
}

.control-button i {
  font-size: 20px
}

.audio-info span {
  color: #fff
}

.audio-controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  transition: color .3s ease
}

.audio-controls button:hover {
  color: #1db954
}

.audio-progress {
  flex-grow: 1;
  margin: 0 20px;
  min-width: 100px
}

.audio-progress input[type=range] {
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #333
}

.audio-progress input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer
}

.audio-progress input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer
}



.search-input::placeholder {
  color: #aaa
}


.volume-icon {
  margin-left: 10px
}

.volume-control {
  justify-content: flex-end
}

.volume-control input[type=range] {
  width: 100px;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  background: #333;
  border-radius: 5px;
  outline: 0
}

.volume-control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer
}

.volume-control input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer
}

#contextMenu {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999
}

#contextMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

#contextMenu li {
  margin-bottom: 5px
}

#contextMenu li:hover {
  cursor: pointer;
  text-decoration: none
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px
}

.pagination-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: transform .3s ease;
  color: #fff
}

.pagination-button:focus {
  outline: 0
}

.pagination-button:hover {
  transform: scale(1.1)
}

.queue-list {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #1db954 #121212;
  padding-right: 10px
}

.queue-item {
  background-color:rgb(58, 61, 58);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color .3s
}

.queue-item:hover {
  background-color: rgba(40,40,40,.9)
}

.queue-item .song-info {
  width: 150px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color .3s ease
}

.remove-btn:hover {
  color: #000
}

.remove-btn:focus {
  outline: 0
}

.remove-btn .icon {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px
}
.queue-container {
  position: fixed;
  top: 0;
  right: -400px; /* Initially hide the queue container */
  width: 400px;
  height: 90%;
  background-color:rgba(40,40,40,.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out; /* Smooth transition for visibility */
  z-index: 1000; /* Ensure it's on top of other elements */
}

.queue-container.active {
  right: 0; /* Show the queue container when active */
}
.queue-list::-webkit-scrollbar-thumb {
  background-color: #1db954;
  border-radius: 10px
}

.queue-list::-webkit-scrollbar-track {
  background-color: #121212
}

.queue-list::-webkit-scrollbar-corner {
  display: none
}

.queue-list scrollbar {
  width: 5px;
  background-color: #121212
}

.queue-list scrollbar thumb {
  background-color: #1db954;
  border-radius: 10px
}


#albumCover {
  width: 50px;
  height: auto;
  margin-right: 10px
}

.album-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 20px
}

.album-button.active {
  background-color: #15883e;
  color: #fff
}

.album-button:hover {
  background-color: #1db954
}




.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer
}

.close:hover {
  color: #1db954
}

.lyrics {
  padding: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  overflow-y: auto;
  height: calc(100%);
  font-family: Roboto,sans-serif
}

.sidebar-content {
  color: #fff;
  font-size: 16px;
  line-height: 1.5
}

#rightsec {
  gap: 15px;
  display: flex;
  justify-content: flex-end
}

#rightsec .volume-control {
  margin-right: 10px
}



.volume-icon {
  cursor: pointer
}

.songListContainer {
  width: 1200px; /* Set a fixed width */
  max-width: 100%; /* Ensure it doesn't exceed the parent container */
  padding: 20px;
  height: auto;
  background-color:transparent;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap; /* Allow song containers to wrap */
  justify-content:center;
  gap: 20px;
  overflow: hidden; /* Hide overflow */
  position: relative; /* Make it a positioning context for absolute positioning of buttons */
 background-color: transparent;

}

.songListContainer::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.songListContainer::-webkit-scrollbar-thumb {
  background-color: #1db954; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

/* Add this CSS at the end of your existing styles */




.qcon {
  background-color:transparent; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font family */
  line-height: 1.6; /* Line height */
}

.album-filter {
  display: inline-block;
  margin-right: 10px;
  
}

.album-filter .dropdown-toggle {
  background-color:transparent; 
    color: #ffffff;
  border: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.album-filter .dropdown-item {
  color: white;
}

.album-filter .dropdown-item:hover {
  background-color: transparent;
}
.dropdown-menu{
  background-color: #040404;
}
.shuffle-btn.active {
  color: #1db954; /* Change the color to red when active */
}

.playlist-section {
  margin-top: 40px;
}

.playlist-section h2 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.playlist-list .list-group-item {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
}

.playlist-list .list-group-item a {
  color: #b3b3b3;
  text-decoration: none;
}

.create-playlist input[type="text"] {
  background-color: #282828;
  color: #b3b3b3;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.create-playlist button {
  background-color: #1db954;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.create-playlist button:hover {
  background-color: #1ed760;
}
.topbar {
  display: flex;
  justify-content: end;
  background-color:transparent; /* Black background color similar to Spotify */
  width: 100%;
  margin-top: 10px;
 

}

.topbar .navbar {
  display: flex;
  align-items: center;
}
.topbar .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.topbar .navbar ul li {
  margin: 0px 8px;
}
.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
}
.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 26px;
  margin: 0px 20px;
}
.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}

.sidebar {
  background-color: #121212; /* Dark background color similar to Spotify */
  color: #fff; /* Text color */
  padding: 20px;
  width: 300px; /* Adjust width as needed */
}
.logo-container img {
  width: 300px; /* Adjust logo size as needed */
}


.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin-bottom: 10px;
}
.navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.navigation ul li a:hover {
  color: #fff;
}

.create-playlist input {
  width: calc(100% - 40px); /* Adjust input width to fit container */
  margin-bottom: 10px; /* Add margin bottom for spacing */
}
.create-playlist button {
  width: 100%;
}

.playlist-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.playlist-list li {
  margin-bottom: 10px;
}
.playlist-list li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
}
.playlist-list li a:hover {
  color: #fff;
}